[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
exif = "*"
peewee = "*"
ffmpeg = "*"
hachoir = "*"
exifread = "*"
humanize = "*"
pillow = "*"
pylint = "*"
pil = "*"

[requires]
python_version = "3.7"
